{% extends 'base.html.twig' %}

{% block title %}Todos{% endblock %}

{% block body %}
    {% for todo in todos %}
        <div class="card mb-4 text-center">
            <div class="card-header">
                <span class="font-weight-bold">{{ todo.name }}</span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            {% for key, todoWeek in todo.todos %}
                <div>
                    <div class="text-center mb-1">{{ key }}. Week</div>
                    <ol class="list-group list-group-numbered">
                        {% for todoList in todoWeek %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{ todoList.title }}</div>
                                    {{ todoList.duration }} hours
                                </div>
                                <span class="badge bg-primary rounded-pill">{{ todoList.level }}</span>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endfor %}
        </div>
        <div class="mb-3"></div>
    {% endfor %}
{% endblock %}
